{
  "Actions": [
    {
      "Name": "forward",
      "KeyboardCode": "W",
      "GamepadCode": "RightTrigger",
      "GroupName": "Movement"
    },
    {
      "Name": "backward",
      "KeyboardCode": "S",
      "GamepadCode": "LeftTrigger",
      "GroupName": "Movement"
    },
    {
      "Name": "left",
      "KeyboardCode": "A",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "right",
      "KeyboardCode": "D",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "View",
      "KeyboardCode": "C",
      "GamepadCode": "RightJoystickButton",
      "GroupName": "Other"
    },
    {
      "Name": "Voice",
      "KeyboardCode": "v",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "Score",
      "KeyboardCode": "tab",
      "GamepadCode": "SwitchLeftMenu",
      "GroupName": "Other"
    },
    {
      "Name": "Chat",
      "KeyboardCode": "enter",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "GearUp",
      "KeyboardCode": "E",
      "GamepadCode": "None",
      "GroupName": "Gears"
    },
    {
      "Name": "GearDown",
      "KeyboardCode": "Q",
      "GamepadCode": "None",
      "GroupName": "Gears"
    }
  ],
  "__guid": "0ef2a792-ba46-4785-9169-eb9d53f2cc21",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}